

.caixa {
    position: relative;
    width: 400px;
    margin: 0 auto;
    background-color:#e329c179;

}


footer {
    text-align: center;
    background: url();
    padding: 10px 0;
    background-color:#d308ae;
 }