
 /*NAVEGAÇÃO ENTRE PAGINAS*/
 .navegação {
    padding: 20px 0;
}

.banerimage{
    width: 1000px;
}

.caixa {
    position: relative;
    width: 400px;
    margin: 0 auto;
    background-color:#e329c179;
}

body {
    background-color:#ffa1ee;
 }

    
p{
    text-align:center; 
}
      


 footer {
    text-align: center;
    background: url();
    padding: 10px 0;
    background-color:#d308ae;
 }